body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/**==================HEADER====================*/

.header-link-studio:active {
  color: #404bbf;
}

.header-link:active,
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4D5AE5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-color {
  color: #2E2F42;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-link {
  color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
}

.header-menu-item {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
}

.header-address-link {
  color: #434455;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}
/**===================CONTENT==================*/
.page-one {
  background-color: #2E2F42;
  padding: 188px 0;
}

h1,h2,h3,p,ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.header-container {
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
display: flex;
align-items: center;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
padding: 0 15px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.header-nav {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.section {
  padding: 120px;
}

.page-one-title {
  color: white;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 48px;
margin-left:auto;
margin-right: auto;
max-width: 496px;
}

.page-one-btn {
 background-color: #4D5AE5;
 color: #FFFFFF;
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
border: none;
margin: 0 auto;
}

.page-one-btn:hover, .page-one-btn:focus{
  background-color: #404BBF;
}

.page-two {
  background-color: #FFFFFF;
  padding: 120px 0;
}

.page-two-list {
display: flex;
gap: 24px;
}

.page-two-item:first-child {
  width: calc((100% - 72px) / 4);
}

.page-two-subtitle {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
margin-left: 24px;
}

.page-two-text {
  color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.portfolio-container {
  padding: 32px 0;
}

.portfolio-item {
  background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
}

.portfolio-item:first-child {
  width: calc((100% - 72px) / 4);
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}

.portfolio-title {
  color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

.portfolio-name {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.portfolio-works {
  background-color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-works {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.works-title {
  color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align:center;
margin-bottom: 72px;
}

.works-subtitle {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.works-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.works-item {
  width: calc((100% - 48px)/3);
}

.works-text {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**==================FOOTER=================*/

.footer-end {
  background-color:#2E2F42;
  padding: 100px 0;
}

p {
  width: 264px;
}
.footer-logo {
  color: #4d5ae5;
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}

.color-logo {
  color: #F4F4FD;
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-text {
  color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
